<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello World!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>


    <body>

        <!-- First Section -->
        <section class="section">
            <form action="formHandler.py" id="selectreturn"> <!-- STILL WORKING ON THIS -->

                <div class="field">
                    <label class="label">Choose a subject</label>
                    <div class="control">
                        <div class="select">
                            <select form="selectreturn">
                                <option value="default" id="subjectDefault"></option>
                                <option value="option1" id="subjectOption1">option1</option>
                                <option value="option2" id="subjectOption2">option2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </section>

        <!-- Temp section with some debugging elements -->
        <Section>
            <button onclick="sortTable(0)">Sort by name</button>
            <button onclick="sortTable(1)">Sort by Enrollment Count</button>
        </Section>



        <!-- Second section -->
        <section class="section">

            <table id="resultTable" class="table is-striped is-fullwidth is-hoverable is-bordered sortable">

                <!-- Head of the table -->
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Class</th>
                        <th onclick="sortTable(1)">Current Enrollment Count</th>
                        <th>Visualization</th>
                    </tr>
                </thead>

                <!-- Foot of the table -->
                <!--<tfoot>-->
                    <!--<tr>-->
                        <!--<th>Class</th>-->
                        <!--<th>Current Enrollment Count</th>-->
                        <!--<th>Visualization</th>-->
                    <!--</tr>-->
                <!--</tfoot>-->

                <!-- Main content of table -->
                <!-- This is where our result will be listed -->
                <tbody>

                    <!-- Table row -->
                    <tr>
                        <td>A_Class Name 1</td>
                        <td>B_Count 1</td>
                        <td>C_Visualization 1</td>
                    </tr>

                    <tr>
                        <td>C_Class Name 2</td>
                        <td>A_Count 2</td>
                        <td>B_Visualization 2</td>
                    </tr>

                    <tr>
                        <td>B_Class Name 3</td>
                        <td>C_Count 3</td>
                        <td>A_Visualization 3</td>
                    </tr>

                    <!--<tr>-->
                        <!--<th>Class Name 3</th>-->
                        <!--<td>Count 3</td>-->
                        <!--<td>Visualization 3</td>-->
                    <!--</tr>-->

                </tbody>
            </table>
        </section>


        <!-- https://www.w3schools.com/howto/howto_js_sort_table.asp -->
        <!-- Changed slightly -->
        <script>
        function sortTable(row) {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("resultTable");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[row];
              y = rows[i + 1].getElementsByTagName("TD")[row];
              //check if the two rows should switch place:
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
        }
        </script>

    </body>
</html>