<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello World!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>


    <body>

        <!-- First class -->
        <section class="section">

            <form action="formHandler.py" id="selectreturn">
            <!--<form>-->
                <div class="field">
                    <label class="label">Choose a subject</label>
                    <div class="control">
                        <div class="select">
                            <select form="selectreturn">
                                <option value="default" id="default"></option>
                                <option value="option1" id="option1">option1</option>
                                <option value="option2" id="option2">option2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>

        </section>



        <!-- Second section -->
        <section class="section">

            <div class="box">
                <p>Ping1</p>
            </div>

            <div class="box">
                <p>Ping2</p>
            </div>

            <div class="box">
                <p>Ping3</p>
            </div>

            <!--<div class="field">-->

                <!--<label class="label"> Name </label>-->

                <!--<div class="control is-three-fifths">-->

                    <!--<input class="input" type="text" placeholder="Type name here.">-->

                <!--</div>-->

            <!--</div>-->

        </section>
    </body>
</html>